<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="flex justify-center items-center h-screen">
        <div className="bg-white p-8 rounded-lg shadow-lg w-96">
          <div className="text-2xl font-bold mb-4 text-center">
            <BsShieldLock className="inline-block text-blue-500 text-4xl mr-2" />
            Change Password
          </div>
          {message && <p className="text-red-500 text-center mb-4">{message}</p>}
          {/* <form onSubmit=''> */'}
          <div className="mb-4">
            <label htmlFor="newPassword" className="block text-sm font-medium text-gray-700">New Password</label>
            <input
              type="password"
              name="newPassword"
              onChange='handleChange'
              value='newPassword'
              className="bg-white focus:border-blue-400 rounded-lg shadow-sm appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Enter new password"
            />
            {/* <span className="text-red-500">{errors.newPassword}'</span> */}
          </div>
          <div className="mb-4">
            <label htmlFor="confirmPassword" className="block text-sm font-medium text-gray-700">Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              onChange='handleChange'
              value='confirmPassword'
              className="bg-white focus:border-blue-400 rounded-lg shadow-sm appearance-none border  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Confirm new password"
            />
            {/* <span className="text-red-500">{errors.confirmPassword}</span> */}
          </div>
          <div className="mb-4">
            <input
              type="checkbox"
              name="termsAccepted"
              className="mr-2"
              onChange='change'
              checked='termsAccepted'
            />
            <label htmlFor="termsAccepted" className="text-sm text-gray-700">I accept the Terms and Conditions</label>
          </div>
          <button type="submit" className="w-full bg-blue-500 text-white py-2 px-4 rounded-md">
            Reset Password
          </button>
          {/* </form> */}
        </div>
      </div>
</body>
</html>